Implement RFC7231 header fields

See [RFC7231 Section 8.3.2 Registrations](http://httpwg.org/specs/rfc7231.html#rfc.section.8.3.2)
- [x] Accept
- [x] Accept-Charset
- [x] Accept-Encoding
- [x] Accept-Language
- [x] Allow
- [x] Content-Encoding
- [x] Content-Language
- [x] Content-Location
- [x] Content-Type
- [x] Date
- [x] Expect
- [x] From
- [x] Location
- [x] Max-Forwards
- [x] MIME-Version
- [x] Referer
- [x] Retry-After
- [x] Server
- [x] User-Agent
- [x] Vary
